body
{
    background-image:url("tumblr_70c7fdf1c0af225de84d0787c33b027b_021df747_500.gif");background-size: cover;
}
.img
{
    border-radius:350px;margin-top:150px;
}
.img2
{
    border-radius:350px;margin-left:1000px;margin-top:-10px;
}